joblog/*
sim_results/*
data/census/*
data/data_generators/check_files/*
data/data_generators/raw_data_sources/*
data/epidemiological/branda/*
output/*

machines.txt

.Rproj.user
.Rhistory
.RData
.Ruserdata

*.DS_Store
*.old
data/epidemiological/influcast/regions.txt
scripts/*
!scripts/download_new_data.sh

uploading_predictions/current_week.txt
uploading_predictions/*.png