joblog/*
sim_results/*
data/census/*
data/data_generators/check_files/*
data/data_generators/raw_data_sources/*
data/epidemiological/branda/*
output/*


.Rproj.user
.Rhistory
.RData
.Ruserdata

*.DS_Store